<h2>Edit Sleep Planner</h2>
<br>

<form action="/planners/<%=@planner.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">

<h3>Baby: <%=@planner.baby.name%></h3>
<h3>Date: <%=@planner.created_at.strftime("%m-%d-%Y")%></h3>


  <!-- <h3>Choose Baby:</h3> -->
  <!-- <%@babies.each do |b|%>
  <label><%=b.name%></label>
  <input type="checkbox" name="[baby][babys_id]" value="<%=b.id%>" id="baby_<%=b.id%>" <%='checked' if @planner.baby.id == b.id %>>
  <br>
  <%end%> -->

  <br>

  <h3>Edit Sleep Times:</h3>

  <br>
  <label for="wake_time">Wake Time:</label>
  <input type="text" name="[planners][wake_time]" id="wake_time" value="<%=@planner.wake_time%>">
  <br>
  <br>

  <label for="morning_nap_start_time">Morning Nap - Start Time:</label>
  <input type="text" name="[planners][morning_nap_start_time]" id="morning_nap_start_time" value="<%=@planner.morning_nap_start_time%>">
  <br>
  <br>

  <label for="morning_nap_end_time">Morning Nap - End Time:</label>
  <input type="text" name="[planners][morning_nap_end_time]" id="morning_nap_end_time" value="<%=@planner.morning_nap_end_time%>">
  <br>
  <br>

  <label for="midday_nap_start_time">Midday Nap - Start Time:</label>
  <input type="text" name="[planners][midday_nap_start_time]" id="midday_nap_start_time" value="<%=@planner.midday_nap_start_time%>">
  <br>
  <br>

  <label for="midday_nap_end_time">Midday Nap - End Time:</label>
  <input type="text" name="[planners][midday_nap_end_time]" id="midday_nap_end_time" value="<%=@planner.midday_nap_end_time%>">
  <br>
  <br>

  <label for="late_afternoon_nap_start_time">Late Afternoon Nap - Start Time:</label>
  <input type="text" name="[planners][late_afternoon_nap_start_time]" id="late_afternoon_nap_start_time" value="<%=@planner.late_afternoon_nap_start_time%>">
  <br>
  <br>

  <label for="late_afternoon_nap_end_time">Late Afternoon Nap - End Time:</label>
  <input type="text" name="[planners][late_afternoon_nap_end_time]" id="late_afternoon_nap_end_time" value="<%=@planner.late_afternoon_nap_end_time%>">
  <br>
  <br>

  <label for="bed_time">Bed Time:</label>
  <input type="text" name="[planners][bed_time]" id="bed_time" value="<%=@planner.bed_time%>">
  <br>
  <br>

  <label for="notes">Notes: </label>
  <textarea name="[planners][notes]" id="notes"  rows="10" cols="80"> <%=@planner.notes%> </textarea>



<br>
<br>

<input type="submit" id="submit" value="Submit">
</form>
