<a href="/babies/<%=@planner.baby.id%>">See all of <%=@planner.baby.name%>'s planners </a>
<br>
<br>
<form method="post" action="/planners/<%=@planner.id%>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Planner">
</form>
<br>

<h3>Baby: <%=@planner.baby.name%></h3>
<h3>Date: <%=@planner.created_at.strftime("%m-%d-%Y")%></h3>
<h4>Notes: <%=@planner.notes%></h4>
<br>
<a href="/planners/<%=@planner.id%>/edit">Edit Planner</a>

<table id="t01">
  <tr>
    <th class="yellow"></th>
    <th class="yellow">Start Time</th>
    <th class="yellow">Finish Time</th>
    <th class="yellow">Total Time</th>
  </tr>
  <tr>
    <th class="blue">Wake Time:</th>
    <td><%=@planner.wake_time%></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th class="blue">Morning Nap:</th>
    <td><%=@planner.morning_nap_start_time%></td>
    <td><%=@planner.morning_nap_end_time%></td>
    <td><%=@planner.morning_nap_total_time%></td>
  </tr>
  <tr>
    <th class="blue">Midday Nap:</th>
    <td><%=@planner.midday_nap_start_time%></td>
    <td><%=@planner.midday_nap_end_time%></td>
    <td><%=@planner.midday_nap_total_time%></td>
  </tr>
  <tr>
    <th class="blue">Late Afternoon Nap:</th>
    <td><%=@planner.late_afternoon_nap_start_time%></td>
    <td><%=@planner.late_afternoon_nap_end_time%></td>
    <td><%=@planner.late_afternoon_nap_total_time%></td>
  </tr>
  <tr>
    <th class="blue">Total Nap Time:</th>
    <td></td>
    <td></td>
    <td><%=@planner.total_nap_time%></td>
  </tr>
  <tr>
    <th class="blue">Bed Time:</th>
    <td><%=@planner.bed_time%></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br>
<br>
