<h3>Baby: <%=@planner.baby.name%></h3>
<h3>Date: <%=@planner.created_at.strftime("%m-%d-%Y")%></h3>
<br>
<table>
  <tr>
    <th></th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Total Time</th>
  </tr>
  <tr>
    <th>Wake Time:</th>
    <td><%=@planner.wake_time%></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Morning Nap:</th>
    <td><%=@planner.morning_nap_start_time%></td>
    <td><%=@planner.morning_nap_end_time%></td>
    <td></td>
  </tr>
  <tr>
    <th>Midday Nap:</th>
    <td><%=@planner.midday_nap_start_time%></td>
    <td><%=@planner.midday_nap_end_time%></td>
    <td></td>
  </tr>
  <tr>
    <th>Late Afternoon Nap:</th>
    <td><%=@planner.late_afternoon_nap_start_time%></td>
    <td><%=@planner.late_afternoon_nap_end_time%></td>
    <td></td>
  </tr>
  <tr>
    <th>Bed Time:</th>
    <td><%=@planner.bed_time%></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br>
<h4>Notes: <%=@planner.notes%></h4>

<br>
<a href="/planners/<%=@planner.id%>/edit">Edit Planner</a>

<br>
<br>

<form method="post" action="/planners/<%=@planner.id%>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Planner">
</form>
