
<h3>Baby: <%=@planner.baby.name%></h3>
<h3>Date: <%=@planner.created_at.strftime("%m-%d-%Y")%></h3>
<h3>Wake Time: <%=@planner.wake_time%></h3>
<h3>Morning Nap - Start Time: <%=@planner.morning_nap_start_time%></h3>
<h3>Morning Nap - End Time: <%=@planner.morning_nap_end_time%></h3>
<h3>Midday Nap - Start Time: <%=@planner.midday_nap_start_time%></h3>
<h3>Midday Nap - End Time: <%=@planner.midday_nap_end_time%></h3>
<h3>Late Afternoon Nap - Start Time: <%=@planner.late_afternoon_nap_start_time%></h3>
<h3>Late Afternoon Nap - End Time: <%=@planner.late_afternoon_nap_end_time%></h3>
<h3>Bed Time: <%=@planner.bed_time%></h3>
<h3>Notes: <%=@planner.notes%></h3>

<br>
<a href="/planners/<%=@planner.id%>/edit">Edit Planner</a>

<br>
<br>

</form>
