<h3>Baby: <%=@baby.name%></h3>
<a href="/babies/<%=@baby.id%>/edit">Edit Baby's Name Here</a>

<br>
<br>

<form method="post" action="/babies/<%=@baby.id%>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Baby">
</form>

<br>
<br>

<h3><%=@baby.name%>'s Planners:</h3>
<%@baby.planners.each do |p| %>
<a href="/planners/<%=p.id%>">
  <br>
  <h3>Date: <%=p.created_at.strftime("%m-%d-%Y")%></h3></a>
  <h3>Wake Time: <%=p.wake_time%></h3>
  <h3>Morning Nap - Start Time: <%=p.morning_nap_start_time%></h3>
  <h3>Morning Nap - End Time: <%=p.morning_nap_end_time%></h3>
  <h3>Midday Nap - Start Time: <%=p.midday_nap_start_time%></h3>
  <h3>Midday Nap - End Time: <%=p.midday_nap_end_time%></h3>
  <h3>Late Afternoon Nap - Start Time: <%=p.late_afternoon_nap_start_time%></h3>
  <h3>Late Afternoon Nap - End Time: <%=p.late_afternoon_nap_end_time%></h3>
  <h3>Bed Time: <%=p.bed_time%></h3>
  <h3>Notes: <%=p.notes%></h3>
  <br>
<%end%>

<br>
<br>
<br>

<%@baby.planners.each do |p| %>
<a href="/planners/<%=p.id%>">
  <h3>Date: <%=p.created_at.strftime("%m-%d-%Y")%></h3></a>

<table>
  <tr>
    <th></th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Total Time</th>
  </tr>
  <tr>
    <th>Wake Time:</th>
    <td><%=p.wake_time%></td>
    <td></td>
    <td></td>
  </tr>

</table>

<%end%>
