<a href="/babies/<%=@baby.id%>/edit">Edit Baby</a>

<h3>Baby: <%=@baby.name%></h3>

<br>
<br>

<form method="post" action="/babies/<%=@baby.id%>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Baby">
</form>

<%@planners.each do |p| %>
<a href="/planners/<%=p.id%>">
  <br>
  <h3>Baby: <%=p.baby.name%></h3></a>
  <h3>Date: <%=p.created_at.strftime("%d-%m-%Y")%></h3>
  <h3>Wake Time: <%=p.wake_time%></h3>
  <h3>Morning Nap - Start Time: <%=p.morning_nap_start_time%></h3>
  <h3>Morning Nap - End Time: <%=p.morning_nap_end_time%></h3>
  <h3>Midday Nap - Start Time: <%=p.midday_nap_start_time%></h3>
  <h3>Midday Nap - End Time: <%=p.midday_nap_end_time%></h3>
  <h3>Late Afternoon Nap - Start Time: <%=p.late_afternoon_nap_start_time%></h3>
  <h3>Late Afternoon Nap - End Time: <%=p.late_afternoon_nap_end_time%></h3>
  <h3>Bed Time: <%=p.bed_time%></h3>
  <h3>Notes: <%=p.notes%></h3>
<%end%>
