<h3>Baby: <%=@baby.name%></h3>
<a href="/babies/<%=@baby.id%>/edit">Edit Baby's Name Here</a>

<br>
<br>

<form method="post" action="/babies/<%=@baby.id%>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Baby">
</form>

<br>
<br>

<%@baby.planners.each do |p| %>
<a href="/planners/<%=p.id%>">
  <h3>Date: <%=p.created_at.strftime("%m-%d-%Y")%></h3></a>

<table id="t01">
  <tr>
    <th class="yellow"></th>
    <th class="yellow">Start Time</th>
    <th class="yellow">Finish Time</th>
    <th class="yellow">Total Time</th>
  </tr>
  <tr>
    <th class="blue">Wake Time:</th>
    <td><%=p.wake_time%></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th class="blue">Morning Nap:</th>
    <td><%=p.morning_nap_start_time%></td>
    <td><%=p.morning_nap_end_time%></td>
    <td></td>
  </tr>
  <tr>
    <th class="blue">Midday Nap:</th>
    <td><%=p.midday_nap_start_time%></td>
    <td><%=p.midday_nap_end_time%></td>
    <td></td>
  </tr>
  <tr>
    <th class="blue">Late Afternoon Nap:</th>
    <td><%=p.late_afternoon_nap_start_time%></td>
    <td><%=p.late_afternoon_nap_end_time%></td>
    <td></td>
  </tr>
  <tr>
    <th class="blue">Bed Time:</th>
    <td><%=p.bed_time%></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br>
<h4>Notes: <%=p.notes%></h4>

<br>
<%end%>
